{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
      "airbnb-base"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
      "no-unused-vars": "off",
      "no-underscore-dangle": 0,
      "arrow-parens":"off",
      "func-names": "off",
      "no-shadow": "off",
      "quotes": ["error", "single", { "allowTemplateLiterals": true }],
      "no-useless-escape":"off"
    }
}
